.case-models-toc {
  margin-top: var(--zd-spacing-vgap-lg);
}

.zd-toc-pointer {
  color: var(--zd-color-white);
}

.bookmark-icon {
  color: var(--zd-color-white);
}

.case-models-toc-list {
  padding-top: var(--zd-spacing-vgap-sm);
  margin-bottom: var(--zd-spacing-vgap-sm);
  padding-right: 50px;
  border: 1px dashed var(--zd-color-white);
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  list-style: none;
  padding-left: 0;
  font-size: var(--zd-font-sm-size);
  line-height: var(--zd-font-sm-lineHeight);
}

@media (min-width: 580px) {
  .case-models-toc-list {
    font-size: var(--zd-font-base-size);
    line-height: var(--zd-font-base-lineHeight);
  }
}

@media (min-width: 740px) {
  .case-models-toc-list {
    padding-top: var(--zd-spacing-vgap-md);
    padding-right: 60px;
  }
}

@media (min-width: 980px) {
  .case-models-toc-list {
    padding-right: var(--zd-spacing-hgap-md);
    border-width: 1px;
    padding-left: var(--zd-spacing-hgap-md);
  }
}

.case-models-toc-list li {
  background: url(/svgs/arrow-down.svg) no-repeat 0 0.4em;
  background-size: 20px 20px;
  padding-left: 28px;
}

.case-models-toc-list li + li {
  margin-top: var(--zd-spacing-vgap-xs);
}
